.h1 {
    @apply text-accent;
    @apply text-4xl lg:text-6xl xl:text-7xl;
}

.h2 {
    @apply text-accent;
    @apply text-3xl lg:text-4xl xl:text-5xl;
}

.h3 {
    @apply text-accent;
    @apply text-2xl lg:text-3xl xl:text-4xl;
}

.p {
    @apply text-accent;
}